/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
@import url("elements.scss");
.container,
.outer-container,
.container-md {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container,
  .outer-container,
  .container-md {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .outer-container,
  .container,
  .container-md {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .outer-container,
  .container {
    width: 940px;
  }
  .container-md {
    width: 750px;
  }
}

@media (min-width: 1150px) {
  .outer-container {
    width: 1100px;
  }
  .container {
    width: 1050px;
  }
  .container-md {
    width: 900px;
  }
}

@media (min-width: 1250px) {
  .outer-container {
    width: 1200px;
  }
  .container {
    width: 1170px;
  }
}

@media (min-width: 1300px) {
  .container-md {
    width: 1040px;
  }
}

@media (min-width: 1600px) {
  .outer-container {
    width: 1500px;
  }
}

@media (min-width: 1850px) {
  .outer-container {
    width: 1790px;
  }
}

/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0;
}

header, section, footer, aside, nav, article {
  display: block;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

input,
textarea {
  font-family: "SegoeUIRegular";
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder {
  color: transparent !important;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent !important;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent !important;
}

/* IE 10+ */
body {
  font-family: "SegoeUIRegular";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  font-display: swap;
  height: 100vh;
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.outerwrapper {
  -webkit-flex: 1;
  flex: 1;
}

/*** standart classes *****/
a {
  color: #020000;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #0563bf;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

h2 {
  font-size: 22px;
  font-size: 2.2rem;
}

h3 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #0563bf;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* font-family: "SegoeUIRegular"; */
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.bold, h1, .logo a .title, .homecarousel .item .more {
  font-family: "SegoeUIBold";
}

i, em {
  font-family: "SegoeUIItalic";
}

.submit {
  cursor: pointer;
}

/* font-family: "SegoeUIItalic"; */
@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "SegoeUILight"; */
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "SegoeUISemiBold"; */
@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.tdn, header nav ul a,
footer nav ul a, header .bottom .tel a, footer .bottom .mail_link, .arhive .item a, .lastnews .item .desc h3 a, .lastnews .item .desc .more a {
  text-decoration: none;
}

.tdn:hover, header nav ul a:hover,
footer nav ul a:hover, header .bottom .tel a:hover, footer .bottom .mail_link:hover, .arhive .item a:hover, .lastnews .item .desc h3 a:hover, .lastnews .item .desc .more a:hover {
  text-decoration: underline;
}

.tdu {
  text-decoration: underline;
}

.tdu:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.before, .lastnews .item .desc h3:after {
  content: "";
  display: block;
  position: absolute;
}

.form-control {
  border: 1px solid #333;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px;
}

.form-control:focus, .form-control:active {
  border-color: #0563bf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3);
}

.logo {
  left: 50%;
  margin-left: -73px;
  position: absolute;
}

.logo a {
  text-decoration: none;
}

.logo a span {
  display: block;
}

.logo a .title {
  font-size: 18px;
  font-size: 1.8rem;
}

.logo a span:not(.title) {
  font-size: 15px;
  font-size: 1.5rem;
}

.logo a:hover {
  color: #000;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/* =header
---------------------------*/
header nav,
footer nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

header nav ul,
footer nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  border-top: 1px solid #d5d5d5;
  width: calc(50% - 110px);
  padding-top: 1.5rem;
}

header nav ul a,
footer nav ul a {
  color: #000;
}

header .tel a,
footer .tel a {
  font-size: 18px;
  font-size: 1.8rem;
}

header {
  padding-top: 1.5rem;
}

header .container {
  position: relative;
}

header ul {
  margin-top: 3rem;
}

header .bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding-top: 4rem;
}

header .bottom .tel {
  border-left: 3px solid #d5d5d5;
  padding-left: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

header .bottom .tel i {
  color: #0563bf;
  padding-left: 1rem;
}

header .bottom .search input {
  vertical-align: top;
}

header .bottom .search input.submit {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhAxcMBBGcZGvjAAABwElEQVQ4y42TwUtUURSHvzcjMzCNka4MTWgRRNQ2jEwIRdq4EAokUSq0ASNpEfQvhJtoEbQMIhcVtapEKxVRzAha2WIaNwkJhdXCKAf9Wsxj5qnPsd/hci8/7sc593BuIKECcrRSzz4C1lhljvtssFOW4rSzvnHYoyYNPOyQ4857VrZHaesz77XQavBQeBo070AccNKCXWXrjh98YruInRZs2w5knDUXsQIbveGSN0Xsd8HarcCgb3dW6hE/2y3imNe3AqNejQGwzylTYr+Pran4CeqYJk7PSNACTFPHwYqdIMNyLLDGJ7LAMikOVOwaAiRew2wChquc4TeNuwB/KQJNrPMrCvygjWpq5ScrUWCanqrAReYoRmcp6zsvxzYW8bxTZraPxhkLdsZeP+Z3R+KGb8C8V3Zc73HVFy466VDFDcKOtXObbzxnnC9AEx10k+U9XSwyxQWWuBR+m3KLUwxxinqSwAarLHCPP8xwl6ekeckKvdEPVIqkzR73hM3l6ck5Y1pMO+lo5Q3V4oETZsVaJ3xopKTdNUoD51gnzRjze2dAfORr0+J+Pyb2TgD08pVXNNNC8X9KKmmEDja59Q/A94Xuc+Q3CwAAAABJRU5ErkJggg==") no-repeat center center;
  background-color: #d5d5d5;
  border: none;
  height: 3.2rem;
  width: 3.2rem;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

header .bottom .search input.submit:hover {
  background-color: #0563bf;
}

header .bottom .search #search {
  border: none;
  height: 3.2rem;
  text-align: center;
}

header .bottom .search #search::-webkit-input-placeholder {
  color: #0563bf;
}

header .bottom .search #search::-moz-placeholder {
  color: #0563bf;
}

header .bottom .search #search:-ms-input-placeholder {
  color: #0563bf;
}

header .bottom .search #search:focus::-webkit-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}

header .bottom .search #search:focus::-moz-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}

header .bottom .search #search:focus:-ms-input-placeholder {
  line-height: 100px;
  transition: line-height 0.5s ease;
}

/* =/header
---------------------------*/
/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev,
.owl-carousel .owl-controls .owl-buttons .owl-next {
  background: url(../images/prevnext.png) no-repeat left top;
  width: 65px;
  height: 65px;
  position: absolute;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: -110px;
}

.owl-carousel .owl-controls .owl-buttons .owl-next {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -110px;
}

/* =main
---------------------------*/
section h1 {
  text-align: center;
}

.share {
  font-size: 18px;
  font-size: 1.8rem;
  color: #808080;
  font-family: "SegoeUIItalic";
  padding-bottom: 3.8rem;
}

.share p {
  padding-bottom: 2rem;
}

/* =footer
---------------------------*/
footer {
  background: #f5f5f5;
  padding-top: 3rem;
}

footer .container {
  min-height: 17rem;
}

footer .bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding-top: 3.5rem;
}

footer .bottom_left, footer .bottom_right {
  width: calc(50% - 110px);
}

footer .bottom_left {
  padding-top: 1.6rem;
}

footer .bottom_left a {
  color: #0563bf;
}

footer .bottom .tel_link {
  text-decoration: none;
}

footer .bottom_right {
  text-align: center;
}

footer .bottom .social_icons {
  padding-top: 1rem;
}

footer .bottom .social_icons a {
  margin-right: 0.2rem;
}

footer .bottom .social_icons a:hover {
  opacity: .8;
}

/* =/footer
---------------------------*/
section {
  margin: 3.5rem 0;
}

section h1 {
  margin-bottom: 2rem;
}

.about p {
  margin: 2rem 0;
}

/* =slider
---------------------------*/
.homecarousel {
  margin-top: 3rem;
}

.homecarousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

.homecarousel .item .container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -585px;
  padding-top: 6.5rem;
  text-align: center;
  text-transform: uppercase;
}

.homecarousel .item .description {
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(5, 99, 191, 0.9);
  line-height: 2;
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}

.homecarousel .item .title {
  font-size: 24px;
  font-size: 2.4rem;
  background-color: #ffc72a;
  color: #0563bf;
  margin-top: 7%;
  display: inline-block;
  padding: 1rem 12rem;
  line-height: 1;
}

.homecarousel .item .more {
  margin-top: 10%;
}

.homecarousel .item .more:before {
  content: "";
  display: block;
  width: 100%;
}

.homecarousel .item .more a {
  font-size: 15px;
  font-size: 1.5rem;
  background-color: #ffc72a;
  color: #0563bf;
  padding: 1rem 5.2rem;
  text-decoration: none;
  transition: background-color color;
}

.homecarousel .item .more a:hover {
  color: #fff;
  background-color: #0563bf;
}

.homecarousel .owl-dots {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  bottom: 2.8rem;
  display: flex;
  position: absolute;
  width: 100%;
}

.homecarousel .owl-dots .owl-dot {
  border: 3px solid #fff;
  height: 15px;
  margin: 0 8px;
  width: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.homecarousel .owl-dots .owl-dot.active {
  background: #fff;
}

.homecarousel .owl-nav {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -585px;
  width: 1170px;
  top: 50%;
}

.homecarousel .owl-nav .owl-prev, .homecarousel .owl-nav .owl-next {
  background: url(../images/prevnext.png) no-repeat left top;
  width: 28px;
  height: 43px;
  position: absolute;
}

.homecarousel .owl-nav .owl-prev.disabled, .homecarousel .owl-nav .owl-next.disabled {
  opacity: .6;
}

.homecarousel .owl-nav .owl-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* =slider
---------------------------*/
/* =members
---------------------------*/
.members_items,
.arhive_items {
  flex-wrap: wrap;
}

.members .item,
.arhive .item {
  margin-right: 3.6rem;
  margin-bottom: 2rem;
  width: 205px;
}

.members .item:nth-child(5),
.arhive .item:nth-child(5) {
  margin-right: 0;
}

.members_items .item a {
  display: block;
  text-decoration: none;
}

.members_items .item a:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.members_items .item a:hover .pic {
  opacity: .7;
}

.members_items .item a:hover .title {
  text-decoration: underline;
}

.members_items .item .pic {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 205px;
  height: 205px;
}

.members_items .item .pic img {
  vertical-align: top;
}

.members_items .item .desc {
  background-color: #e6e6e6;
  padding: 2rem 1.5rem 1.5rem 1.6rem;
  height: 12.5rem;
}

.members_items .item .desc p.title {
  font-size: 24px;
  font-size: 2.4rem;
  color: #000;
  line-height: 1;
}

.members_items .item .desc p:not(.title) {
  font-size: 18px;
  font-size: 1.8rem;
  color: #808080;
  margin-top: .8rem;
}

/* =/members
---------------------------*/
/* =arhive
---------------------------*/
.arhive .item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;
  height: 205px;
  position: relative;
  text-align: center;
}

.arhive .item a:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.arhive .item a:hover img {
  opacity: .85;
}

.arhive .item img {
  position: absolute;
  z-index: -1;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.arhive .item span {
  padding: 0 1.5rem;
}

/* =/arhive
---------------------------*/
/* =lastnews
---------------------------*/
.lastnews_items {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  min-height: 31rem;
}

.lastnews .item {
  position: relative;
  text-align: center;
  width: 32%;
  max-width: 350px;
}

.lastnews .item .pic {
  height: 310px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.lastnews .item .pic img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.lastnews .item .desc h3 {
  height: 160px;
  position: relative;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
}

.lastnews .item .desc h3 a {
  position: absolute;
  bottom: 20px;
  color: #ffc72a;
  width: 100%;
  left: 0;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.lastnews .item .desc h3:after {
  border-top: 3px solid #ffc72a;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  bottom: 0;
}

.lastnews .item .desc .more {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  text-align: center;
}

.lastnews .item .desc .more a {
  color: #fff;
  font-family: "SegoeUIItalic";
}

.lastnews .item .text {
  color: #fff;
  padding: 2rem 1.5rem 0;
}

/* =lastnews
---------------------------*/
::-ms-clear {
  display: none;
}
