@import url('elements.scss');
/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#333;
$color4:#d5d5d5;
$color5:#0563bf;
$color6:#f5f5f5;
$color7:#e6e6e6;
$color8:#808080;
$color9:#ffc72a;



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


input,
textarea{
	font-family: "SegoeUIRegular";
}


input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */

body{
	font-family: "SegoeUIRegular";
	@include flexbox;
	flex-flow: column;
	font-display: swap;
	height: 100vh;
	color: $color3;
	// font-size:10px;
	// font-size: 1.4rem;

	@include font-size(1.4);
	@include rounded;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
a{
	color:#020000;
	@include transition;
	&:hover{
		color: $color5;
	}
}


h1{
	@include font-size(2.4);
	@extend .bold;
}
h2{
	@include font-size(2.2)
}
h3{
	@include font-size(2);
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6{
	color: $color5
}

*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.bold{
	font-family: "SegoeUIBold";
}

i, em{
	font-family: "SegoeUIItalic";
}

.submit{
	cursor: pointer;
}


/* font-family: "SegoeUIItalic"; */
@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
	font-family: "SegoeUILight";
	src: url("../fonts/SegoeUILight/SegoeUILight.eot");
	src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
	url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
	font-family: "SegoeUISemiBold";
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
	url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


.outerwrapper{
}

.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}

.text-center{
	text-align: center;
}


@mixin sprite($x:0, $y:0){
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}

.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}



.logo{
	left: 50%;
	margin-left: -73px;
	position: absolute;
	a{
		text-decoration: none;
		span{
			display: block;
		}
		.title{
			@extend .bold;
			@include font-size(1.8);
		}
		span:not(.title){
			@include font-size(1.5);
		}
		&:hover{
			color: $color1;
		}
	}
}

.flexbox{
	@include flexbox;
}

/* =header
---------------------------*/
header,
footer{
	nav{
		@include flexbox;
		@include justify-content(space-between);
		width: 100%;
		ul{
			@include flexbox;
			@include justify-content(space-around);
			border-top: 1px solid $color4;
			width: calc(50% - 110px);
			padding-top: 1.5rem;
			a{
				@extend .tdn;
				color: $color1;
			}
			.active{
				a, span{
					text-decoration: underline;
					color: $color5;
				}
			}
		}
	}
	.tel{
		a{
			@include font-size(1.8)			
		}
	}
}


header{
	padding-top: 1.5rem;
	.container{
		position: relative;
	}
	ul{
		margin-top: 3rem;
	}
	.bottom{
		@include justify-content(space-between);
		padding-top: 4rem;
		.tel{
			border-left: 3px solid $color4;
			padding-left: 1rem;
			@include flexbox;
			@include align-items(center);
			a{
				@extend .tdn;
			}
			i{
				color: $color5;
				padding-left: 1rem;
			}
		}
		.search{
			input{
				vertical-align: top;
				&.submit{
					background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhAxcMBBGcZGvjAAABwElEQVQ4y42TwUtUURSHvzcjMzCNka4MTWgRRNQ2jEwIRdq4EAokUSq0ASNpEfQvhJtoEbQMIhcVtapEKxVRzAha2WIaNwkJhdXCKAf9Wsxj5qnPsd/hci8/7sc593BuIKECcrRSzz4C1lhljvtssFOW4rSzvnHYoyYNPOyQ4857VrZHaesz77XQavBQeBo070AccNKCXWXrjh98YruInRZs2w5knDUXsQIbveGSN0Xsd8HarcCgb3dW6hE/2y3imNe3AqNejQGwzylTYr+Pran4CeqYJk7PSNACTFPHwYqdIMNyLLDGJ7LAMikOVOwaAiRew2wChquc4TeNuwB/KQJNrPMrCvygjWpq5ScrUWCanqrAReYoRmcp6zsvxzYW8bxTZraPxhkLdsZeP+Z3R+KGb8C8V3Zc73HVFy466VDFDcKOtXObbzxnnC9AEx10k+U9XSwyxQWWuBR+m3KLUwxxinqSwAarLHCPP8xwl6ekeckKvdEPVIqkzR73hM3l6ck5Y1pMO+lo5Q3V4oETZsVaJ3xopKTdNUoD51gnzRjze2dAfORr0+J+Pyb2TgD08pVXNNNC8X9KKmmEDja59Q/A94Xuc+Q3CwAAAABJRU5ErkJggg==") no-repeat center center;
					background-color: $color4;
					border: none;
					height: 3.2rem;
					width: 3.2rem;
					@include transition-param(background-color);
					&:hover{
						background-color: $color5;
					}
				}
			}
			#search{
				@include placeholder($color5);
				border: none;
				height: 3.2rem;
				text-align: center;
			}

		}		
	}
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/


.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				@include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}

/* =main
---------------------------*/



section{
	h1{
		text-align: center;
	}
}


.share{
	@include font-size(1.8);
	color: $color8;
	font-family: "SegoeUIItalic";
	padding-bottom: 3.8rem;
	// padding-top: rem;
	p{
		padding-bottom: 2rem;
	}
}



/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	font-family: "SegoeUIItalic";	
	margin-top: 5.5rem;
	margin-bottom: 2.5rem;
	text-transform: lowercase;
	ul{
		li{
			display: inline-block;
			span{
				color: $color5;
			}
			a{
				color: $color1;
				@extend .tdn;
			}
		}
	}
}
/* =/breadcrumbs
---------------------------*/



/* =main
---------------------------*/
.line{
	position: relative;
	&:after{
		@extend .before;
		border-bottom: 1px solid $color4;
		left: 50%;
		$w: 50%;
		width: $w;
		margin-left: -$w/2;
		bottom: 0;
	}	
}

h1{
	@extend .line;
	font-weight: normal;
	margin-bottom: 3rem;
	padding-bottom: .8rem;
	text-align: center;
	text-transform: uppercase;
}


/* =/main
---------------------------*/



/* =pagination
---------------------------*/
.pagination{
	@extend .line;
	@include font-size(1.8);
	padding-top: 1.5rem;
	text-align: center;
	&:after{
		top: 0;
		bottom: initial;
	}
	a, span{
		margin-left: .4rem;
		margin-right: .4rem;
	}
	a{
		@extend .tdn;
		&:hover{
			color: $color5;
		}
		&.active{
			color: $color5;
		}
	}
	ul{
		li{
			display: inline-block;
		}
	}
}
/* =/pagination
---------------------------*/



/* =footer
---------------------------*/
footer{
	background: $color6;
	padding-top: 3rem;
	.container{
		min-height: 17rem;		
	}
	.bottom{
		// @include align-items(flex-end);
		@include justify-content(space-between);
		padding-top: 3.5rem;
		&_left,
		&_right{
			width: calc(50% - 110px);
		}

		&_left{
			padding-top: 1.6rem;
			a{
				color: $color5;
			}
		}
		.tel{
			&_link{
				text-decoration: none;
			}
		}

		.mail{
			&_link{
				@extend .tdn;
			}
		}

		&_right{
			text-align: center;
		}

		.social{
			&_icons{
				padding-top: 1rem;
				a{
					margin-right: 0.2rem;
					&:hover{
						opacity: .8
					}
				}
			}
		}
	}
}
/* =/footer
---------------------------*/



.justifyleft {text-align:left !important; }
.justifyright {text-align:right !important; }
.justifycenter {text-align: center !important; }
.justifyfull {text-align:justify !important; }

img.justifyleft, table.justifyleft {float:left; margin-right:10px;margin-bottom:5px;}
img.justifyright, table.justifyright {float:right; margin-left:10px;margin-bottom:5px;}
img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}


.navnews{
	font-family: "SegoeUIItalic";
	text-align: center;
	margin-bottom: 5rem;
	margin-top: -2rem;
	a{
		@extend .tdn;
		margin: 0 1rem;
	}
}