::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .news_list_items .item{
	margin-right: 2rem;
}





// edge
@supports (-ms-ime-align:auto) {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body,
	main{
		display: block;
	}
}


.ie10{
	.arhive_list_items .item .description{
		width: 225px;
	}
}